* 
{
    font-family: 'Oxygen', 'sans-serif';
    overflow-x: hidden!important;
    box-sizing: border-box;
    scrollbar-width: thin;
  scrollbar-color: #fff rgb(4, 156, 85);
}

body 
{
    margin:0;
    padding:0;
    width: 100%;
}

*::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #fff;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(2, 92, 2);
    border-radius: 20px;
    border: 3px solid rgb(2, 92, 2);
  }

.line-height
{
    padding: 10px;
    line-height: 1;
}

.font-big
{
    font-size: medium;
}
.navbar-brand
{
    font-size: larger;
    font-weight: bolder;
}
.nav-link
{
    font-weight: bolder;
    color: #000;
}
.navbar-light
{
    background: #fff!important;
}
.section
{
    height: 80vh!important;
    display: flex;
    justify-content: center;

}

.section * {
    justify-content: center;
}

.gelmox-green
{
    background: rgb(4, 156, 85);
    border:  1px solid rgb(4, 156, 85);
}

.gelmox-red
{
    background: linear-gradient(45deg,#df0b0b, #dd1c1c,#ff3333);
    color: #fff;
}
.gelmox-yellow
{
    background: rgb(255, 174, 0);
    color: #fff;
}

.gelmox-secondary {
    background: #030405;
  }

  .btn-default 
  {
      outline: none!important;
  }
  .btn-link:hover {
    color: rgb(4, 156, 85)!important;
    text-decoration: none;
}


.bod-green
{
    border: 1px solid rgb(2, 92, 2)!important;
    text-align: center;
    padding-left: 1rem;
    border-radius: 3px;
}

.nav-link:hover{
    color: green!important;
}
.ft-1
{
    font-size: 23px;
    line-height: 1;
    font-weight: bold;
}
.font-d{
    font-size: 40px;
    color: rgb(2, 92, 2)
}
.big-btn
{
    width: 15rem;
    padding: 1rem;
}
.btn-div .gelmox-yellow
{
    width: 200px;
}

.btn-div .gelmox-yellow:hover
{
background: orangered;
color: #fff;
width: 200px;
}
.vh-100
{
    min-height: 70vh;
    max-height: 100vh;
}

.gelmox-margin
{
    margin-top: 4rem;
}

.quantity 
{
    width: 30px;
    text-align: center!important;
    border: none
}
.def-number-input 
{
    border: 0.6px solid rgb(189, 189, 189);
    border-radius: 8px;
}

.showcase .big-btn
{
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.animate__animated.animate__bounce {
    --animate-duration: 3s;
    --animate-iteration-count: infinite
  }

  .animate__repeat-2
  {
      --animate-repeat: 3
      animation-iteration-count: infinite
  }
  
.showcase 
{
    background-image: linear-gradient(to bottom, rgba(2, 105, 11, 0.048), rgba(255, 241, 179, 0.062)), url('https://shrotonu.sirv.com/Images/WhatsApp%20Image%202020-07-08%20at%2012.44.59%20AM%20(1).jpeg');
    background-image: -moz-linear-gradient(to bottom,  rgba(2, 105, 11, 0.096), rgba(255, 241, 179, 0.233)), url('https://shrotonu.sirv.com/Images/WhatsApp%20Image%202020-07-08%20at%2012.44.59%20AM%20(1).jpeg');
    background-image: -webkit-linear-gradient(to bottom,  rgba(2, 105, 11, 0.096), rgba(255, 241, 179, 0.233)), url('https://shrotonu.sirv.com/Images/WhatsApp%20Image%202020-07-08%20at%2012.44.59%20AM%20(1).jpeg');
    background-image: -o-linear-gradient(to bottom,  rgba(2, 105, 11, 0.096), rgba(255, 241, 179, 0.233)), url('https://shrotonu.sirv.com/Images/WhatsApp%20Image%202020-07-08%20at%2012.44.59%20AM%20(1).jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    text-shadow: 5px 5px ;
    padding:1em;
    text-shadow:.5px .5px #000;
    color: #fff;
    position: relative;
}
.showcase *, .row *, .h-vh *
{
    overflow: hidden!important;
}

.social-media
{
    position: absolute;
    right: 0;
    top:50%;

    height: 300px;
    padding: 10px;
    z-index: 10;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    text-align: center!important;
    align-items: center!important;
    font-size: 40px;
    
}
.social-media * 
{
    color: rgb(255, 255, 255)!important;
}

.social-media *:hover{
    color:rgb(3, 87, 7)!important;
}


/* store */

.store .material-icons
{
    font-size: 2rem;
    color: rgb(3, 87, 7);
}
.store .p-5 
{
    color: rgb(255, 145, 0);
}

.tiny
{
    font-size: 14px;
    position: absolute;
    right:3rem;
}


.no-shadow
{
    text-shadow: none;
    box-shadow: none;
}

.small-width
{
    width: 50px;
}
.boder-radius-1
{
    border-radius: 8px;
}
.border-hover:hover
{
    border:rgb(4, 88, 4) 1px solid!important;
    background: #fff;
    color: rgb(4, 88, 4)!important;
    border-radius: 0;
    transition-property: all;
    transition-duration: 1s;
}
.bg-grey
{
    background: #18205f49;
}

.gelmox-gradient
{
    background: linear-gradient(45deg, rgb(4, 156, 85),rgb(4, 156, 85), orangered);
    min-height: 400px;
    
}
.space div
{
 margin: 2rem;   
}

.blow *
{
    color: #000;
}

.blow:hover{
    box-shadow: 10px 10px 10px rgb(230, 231, 230);
    cursor: pointer;
}

.fnt-1
{
    font-size: 1.5rem;
}


.lister
{
    list-style: none;
}

.lister li::before {content: "•"; color:#fff; padding: 10px;}


 .testimonials h2 {
    color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
 } 

 .testimonials h2::after
 {
    content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
 }
  

 .col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.text-light * 
{
    color: #fff!important;
}
.text-dark * 
{
    color: #333!important;
}

.sm-h
{
    height: 350px;
}

.image-shadow
{
    box-shadow: 7px 33px 29px -17px rgba(255,228,54,1);
}


/* Testimonial */




.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
    }
    
    td .def-number-input
    {
        width:40%!important;
    }

    tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hidden-xs img
    {
        width: 100%;
    }
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { display: flex; flex-direction: column; align-items: center;}
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
    
    
    .nomargin 
    {
        padding: 1rem;
    }
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

  

@media( max-width: 500px){
    .showcase p:first-child{
        font-size: 40px;
    }
   .showcase .ft-1 
    {
        font-size: 1.5rem;
        font-weight: normal;
    }

    h1 
    {
        font-size: 3rem!important;
    }

    .tin
    {
        font-size: 1rem;
        margin-top: 10px;
    }

    .tiny
    {
        font-size: 12px;
    }
    .material-icons
    {
        font-size: 1.5rem;
    }
    .font-sm-1
    {
        font-size: 20px!important;
    }
    .blow
    {
        width: 50rem!important;
    }

    .col-reverse
    {
        display:flex!important;
        flex-direction: column-reverse!important;
    }

    .gelmox-red h3
    {
        font-size: 25px !important;
    }
    .fnt-1
    {
        font-size: 1.3rem;
        text-align: center;
    }

    .sm-h div:last-child
{
    height: 400px!important;


}

.m-sm-0 
{
    margin:0!important;
    padding:0!important;
}

.img-sm-5
{
    height: 300px;
}
.section 
{
    height: auto!important;
}
.center 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .social-media {
        font-size: 20px;
    }
}


/* Animation */

@-webkit-keyframes bounce { 
    0%, 20%, 55%, 75%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-45px);} 
    60% {-webkit-transform: translateY(-35px);} 
 } 
 @keyframes bounce { 
    0%, 20%, 55%, 75%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-45px);} 
    60% {transform: translateY(-35px);} 
 }